[submodule "lib/utfcpp"]
	path = lib/utfcpp
	url = git://github.com/jwiegley/utfcpp.git
[submodule "DepreciateForLedger"]
	path = DepreciateForLedger
	url = git://github.com/tazzben/DepreciateForLedger
[submodule "Github-Receipt"]
	path = Github-Receipt
	url = git://github.com/jpiasetz/Github-Receipt.git
[submodule "LedgerScheduler"]
	path = LedgerScheduler
	url = git://github.com/tazzben/LedgerScheduler
[submodule "QIFtoLedger"]
	path = QIFtoLedger
	url = git://github.com/Kolomona/QIFtoLedger.git
[submodule "icsv2ledger"]
	path = icsv2ledger
	url = git://github.com/quentinsf/icsv2ledger.git
[submodule "ledger-flot"]
	path = ledger-flot
	url = git://github.com/bettse/ledger-flot
[submodule "ledger-ical"]
	path = ledger-ical
	url = git://github.com/bettse/ledger-ical
[submodule "ledger-journal"]
	path = ledger-journal
	url = git://github.com/kertap/ledger-journal.git
[submodule "ledger-ofc"]
	path = ledger-ofc
	url = git://github.com/bettse/ledger-ofc
[submodule "ledger-snap"]
	path = ledger-snap
	url = git://github.com/peterkeen/ledger-snap.git
[submodule "ledger-web"]
	path = ledger-web
	url = git://github.com/peterkeen/ledger-web.git
[submodule "ledger-website"]
	path = ledger-website
	url = git://github.com/simonmichael/ledger-website.git
[submodule "ledger_tools"]
	path = ledger_tools
	url = git://github.com/spiffytech/ledger_tools.git
[submodule "mtc2011"]
	path = mtc2011
	url = git://github.com/zdw/mtc2011.git
[submodule "beancount"]
	path = beancount
	url = git://github.com/jwiegley/beancount.git
[submodule "cl-ledger"]
	path = cl-ledger
	url = git://github.com/jwiegley/periods.git
