[submodule "lib/utfcpp"]
	path = lib/utfcpp
	url = git://github.com/jwiegley/utfcpp.git
[submodule "DepreciateForLedger"]
	path = DepreciateForLedger
	url = git://github.com/tazzben/DepreciateForLedger
[submodule "Github-Receipt"]
	path = Github-Receipt
	url = git://github.com/jpiasetz/Github-Receipt.git
[submodule "LedgerScheduler"]
	path = LedgerScheduler
	url = git://github.com/tazzben/LedgerScheduler
